/*--------------------------------------------------------------
# Content Section
--------------------------------------------------------------*/
.contentContact {
  padding: 3%;
}


.contentContact .contentContainer {
  padding: 3%;
}

.contentContact .contentContainer .whatsapp, .whatsapp i{
  color: #fff;
  font-size: 4rem;
}

.contentContact .formulario{
  color: #4c5157;
  font-family: var(--font-sexta);
}
.contentContact .formulario strong{
  color: #fff;
}
.contentContact .formulario .gratitude{
  font-size: 1.2rem
}

.contentContact .titleText {
  font-size: 2rem;
  letter-spacing: 5px;
  color: #fff;
  font-family: var(--font-sexta);
}

.contentContact p {
  color: #fff;
  font-family: var(--font-sexta);
  font-size: 1rem;
}

.contentContact .Text {
  color: #fff;
  font-family: var(--font-sexta);
  font-size: 1.5rem;
}

.contentContact .info {
  letter-spacing: 0.2rem;
  font-family: var(--font-sexta);
}

.contentContact .image-container{
  width: 100%;
}

@media (max-width: 1279px) {
  .contentContact .titleText {
    font-size: 1.5rem;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}